{% extends "ScrumBoardItBundle::base.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
    	<div class="header">
            <img src="{{ asset('bundles/scrumboardit/images/header.png') }}" />
            <div class=log>
                <a class="btn btn-lg btn-default" href="{{ path('login') }}">Se connecter</a>
            </div>
        </div>
        <div class="row flexible sctn">
            <div class="txt-home title-home col-md-6">
                Bienvenue dans ScrumBoard-it, l'outil d'impression de post-it !
            </div>
            <div class="col-md-6">
                <img class="icon-large img-responsive" src="{{ asset('bundles/scrumboardit/images/welcome/print_post-it.jpg') }}"/>
            </div>
        </div>
        <div class="sctn">
        	<div class="row flexible">
        		<div class="col-md-4 txt-home">
                    Recherchez les tickets en cours et/ou futurs qui vous sont affiliés dans votre Bugtracker
                </div>
                <div class="col-md-4 txt-home">
                    Imprimez vos tickets sur des post-it parmi plusieurs choix de visuels
                </div>
                <div class="col-md-4 txt-home">
                    Triez vos tickets entre ceux en attente d'impression et ceux déjà imprimés
                </div>
        	</div>
            <div class="row flexible">
                <div class="col-md-4 txt-home">
                    <img class="icon-medium img-responsive" src="{{ asset('bundles/scrumboardit/images/welcome/search.png') }}" />
                </div>
                <div class="col-md-4 txt-home">
        			<img class="icon-medium img-responsive" src="{{ asset('bundles/scrumboardit/images/welcome/templates.png') }}" />
                </div>
                <div class="col-md-4 txt-home">
                    <img class="icon-medium img-responsive" src="{{ asset('bundles/scrumboardit/images/welcome/print_queue.png') }}"/>
                </div>
            </div>
        </div>
        <div class="row flexible sctn">
            <div class="col-md-6 txt-home">
                <div>
                    Connectez-vous avec votre compte Jira ou GitHub
                </div>
                <div>
                    <a class="btn btn-lg btn-info btn-home" href="{{ path('login') }}">Page de connexion</a>
                </div>
            </div>
            <div class="col-md-6">
                <img class="icon-large img-responsive" src="{{ asset('bundles/scrumboardit/images/welcome/login.png') }}"/>
            </div>
        </div>
        <div class="row flexible sctn">
            <div class="col-md-6">
                <img class="icon-large img-responsive" src="{{ asset('bundles/scrumboardit/images/welcome/print_base.jpg') }}"/>
            </div>
            <div class="col-md-6 txt-home">
                <div>
                   Un gabarit d'impression intuitif pour vous indiquer le placement des post-it
                </div>
                <div>
                    <a class="btn btn-lg btn-info btn-home" href="{{ path('print_patron') }}">Imprimer le gabbarit</a>
                </div>
            </div>
        </div>
         <div class="row flexible sctn">  
            <div class="col-md-6 txt-home">
                <div>
                    Découvrez ScrumBoard-it par vous-même, sans avoir de compte Jira ou GitHub !
                </div>
                <div>
                    <a class="btn btn-lg btn-info btn-home" href="{{ path('discover') }}">Découvir l'application par un compte GitHub</a>
                </div>
            </div>
            <div class="col-md-6">
                <img class="icon-large img-responsive" src="{{ asset('bundles/scrumboardit/images/welcome/visiting.png') }}"/>
            </div>
        </div>
    </div>
{% endblock %}