{% extends "CanalTPScrumBoardItBundle::base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="header">
            <img src="{{ asset('bundles/canaltpscrumboardit/images/header.png') }}" />
            <a href="./logout"><span class="glyphicon glyphicon-off">Logout </span></a>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        A imprimer
                        <span class="badge">0</span>
                    </div>
                    <ul class="list-group selectable">
                        {% for issue in issues if not issue.printed %}
                            {% block issue %}
                            <li class="list-group-item {{ issue.type }}">
                                <input type="checkbox" name="issues[]" value="{{ issue.project }}-{{ issue.id }}" />
                                <span>{{ issue.project }}-{{ issue.id }}</span>
                                <span>{{ issue.title }}</span>
                                <span class="badge">{{ issue.complexity }}</span>
                            </li>
                            {% endblock %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <form action="{{ path('canal_tp_postit_print') }}" method="POST" target="_blank">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">
                            File d'impression
                            <span class="badge">0</span>
                        </div>
                        <ul class="list-group" id="printQueue"></ul>
                        <div class="btn-group">
                            <button id="submitPrint" class="btn btn-default">imprimer</button>
                            <button id="addFlag" class="btn btn-default">traité</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        Deja imprimé
                        <span class="badge">0</span>
                    </div>
                    <ul class="list-group selectable">
                        {% for issue in issues if issue.printed %}
                            {{ block('issue') }}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
     <script>
    $(function() {
        $(".panel").each(function() {
            panel = $(this);
            panel.find('.panel-heading .badge').text(panel.find('ul').children("li").length);
        });

        $( ".selectable" ).selectable({ filter: "li" });
        $.contextMenu({
            // define which elements trigger this menu
            selector: "li.ui-selected",
            // define the elements of the menu
            items: {
                opt: {
                    name: "Envoyer à l'impression",
                    callback: function(key, opt){
                        panel = opt.$trigger.parents(".panel");
                        list = opt.$trigger.parent();
                        selected = list.children("li.ui-selected");
                        selected.removeClass("ui-selected").appendTo("#printQueue");
                        panel.find(".panel-heading .badge").text(list.children("li").length);
                        $("#printQueue").parents(".panel").find(".panel-heading .badge").text($("#printQueue li").length);
                    }
                },
            }
        });
        $("#submitPrint").click(function() {
            $form = $(this).parents('form');
            $form.attr('action', '{{ path('canal_tp_postit_print') }}');
            $form.find(':checkbox').prop('checked', true);
            $form.submit();
        });
        $("#addFlag").click(function() {
            $form = $(this).parents('form');
            $form.attr('action', '{{ path('canal_tp_postit_add_flag') }}');
            $form.find(':checkbox').prop('checked', true);
            $form.submit();
        });
    });
    </script>
{% endblock %}
