{% extends "ScrumBoardItBundle::base.html.twig" %}

{% block title %}
    Connexion - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="header">
            <img src="{{ asset('bundles/scrumboardit/images/header.png') }}" />
            {% block header %}{% endblock %}
        </div>
        <div class="page-header text-center">
            <h1>
                {% block header_title %}
                    Connectez-vous à votre compte ScrumBoard-it
                {% endblock %}
            </h1>
        </div>

        <div class="row form">
            <div class="col-md-2 col-sm-offset-5">
                    {{ form_start(form) }}
                        {% block userForm %}
                            {% if error %}
                                <div class="alert alert-danger">{{ error.message|trans({},'messages') }}</div>
                            {% endif %}
                            <div class="form-group input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                {{ form_row(form.username) }}
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                {{ form_row(form.password) }}
                            </div>
                        {% endblock %}
                        {% block rememberMe %}
                             <div class="form-group">
                                {{ form_row(form._remember_me) }}
                            </div>
                        {% endblock %}
                        <button class="btn btn-primary btn-block" type="submit" value="Connexion">Connexion</button>

                    {{ form_rest(form) }}
                    {{ form_end(form) }}
            </div>
        </div>
        <div class="text-center bottom">
            {% block bottom %}
                    Nouveau ici ? <a href="{{ path('discover') }}">Connectez-vous en tant que visiteur</a> <br/>
                    ou <a href="{{ path('registration') }}">créez votre compte</a>.
            {% endblock %}
        </div>
    </div>
{% endblock%}
