{% extends "ScrumBoardItBundle::base.html.twig" %}

{% block title %}
    Edition du profil - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="header">
            <img src="{{ asset('bundles/scrumboardit/images/header.png') }}" />
            <div class="log">
            	<a class="btn btn-danger" href="{{ path('home') }}">Retour</a>
            </div>
        </div>
        <div class="page-header text-center">
            <h1>Editer votre compte ScrumBoard-it</h1>
        </div>
        <div class="col-md-2">
      		<h2>Menu</h2>
            <ul class="nav nav-pills nav-stacked">
				<li class="active"><a href="{{ path('profile') }}?page=general">Général</a></li>
            	<li><a href="{{ path('profile') }}?page=jira">Jira</a></li>
            </ul>
        </div>
        <div class="col-md-10">
        	<div id="" class="container well">
        		{{ include('ScrumBoardItBundle:Profile:' ~ include ~ 'Profile.html.twig', { 'form': form }) }}
                <div class="col-md-4 col-sm-offset-5">
                    <button class="btn btn-success" type="submit">Enregistrer les modifications</button>
                </div>
        	</div>
        </div>
    </div>
{% endblock%}
